<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>Servlet.SessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Token_getNextTokenDetailsServlet</servlet-name>
        <servlet-class>Servlet.Token_getNextTokenDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Token_SkipTokenServlet</servlet-name>
        <servlet-class>Servlet.Token_SkipTokenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Token_SelectTokenServlet</servlet-name>
        <servlet-class>Servlet.Token_SelectTokenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prescription_LoadAddingItemsServlet</servlet-name>
        <servlet-class>Servlet.Prescription_LoadAddingItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prescription_LoadAddingUseCyclesServlet</servlet-name>
        <servlet-class>Servlet.Prescription_LoadAddingUseCyclesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prescription_LoadAddingUseMethodsServlet</servlet-name>
        <servlet-class>Servlet.Prescription_LoadAddingUseMethodsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prescription_LoadAddingMealTypesServlet</servlet-name>
        <servlet-class>Servlet.Prescription_LoadAddingMealTypesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prescription_LoadSelectedItemDetailsServlet</servlet-name>
        <servlet-class>Servlet.Prescription_LoadSelectedItemDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prescription_RemoveItemServlet</servlet-name>
        <servlet-class>Servlet.Prescription_RemoveItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prescription_AddItemServlet</servlet-name>
        <servlet-class>Servlet.Prescription_AddItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prescription_CalcMedicineCostServlet</servlet-name>
        <servlet-class>Servlet.Prescription_CalcMedicineCostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prescription_CalcReceivableAmountServlet</servlet-name>
        <servlet-class>Servlet.Prescription_CalcReceivableAmountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prescription_SaveServlet</servlet-name>
        <servlet-class>Servlet.Prescription_SaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueToken_getNextIssuingTokenNoServlet</servlet-name>
        <servlet-class>Servlet.IssueToken_getNextIssuingTokenNoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueToken_LoadPatientsListServlet</servlet-name>
        <servlet-class>Servlet.IssueToken_LoadPatientsListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueToken_LoadSelectedPatientDetailsServlet</servlet-name>
        <servlet-class>Servlet.IssueToken_LoadSelectedPatientDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueToken_CancelTokenServlet</servlet-name>
        <servlet-class>Servlet.IssueToken_CancelTokenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueToken_IssueNSaveTokenServlet</servlet-name>
        <servlet-class>Servlet.IssueToken_IssueNSaveTokenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patient_RegisterServlet</servlet-name>
        <servlet-class>Servlet.Patient_RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prescription_LoadAddingMedicineTypesServlet</servlet-name>
        <servlet-class>Servlet.Prescription_LoadAddingMedicineTypesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patient_UpdateServlet</servlet-name>
        <servlet-class>Servlet.Patient_UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Issuemedicine_LoadPrescriptionListServlet</servlet-name>
        <servlet-class>Servlet.Issuemedicine_LoadPrescriptionListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueMedicine_CompleatePrescriptionServlet</servlet-name>
        <servlet-class>Servlet.IssueMedicine_CompleatePrescriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrescriptionCorrections_SaveChangesServlet</servlet-name>
        <servlet-class>Servlet.PrescriptionCorrections_SaveChangesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrescriptionCorrections_LoadItemsToDHServlet</servlet-name>
        <servlet-class>Servlet.PrescriptionCorrections_LoadItemsToDHServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrescriptionCorrections_loadEditingItemServlet</servlet-name>
        <servlet-class>Servlet.PrescriptionCorrections_loadEditingItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Token_getNextTokenDetailsServlet</servlet-name>
        <url-pattern>/Token_getNextTokenDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Token_SkipTokenServlet</servlet-name>
        <url-pattern>/Token_SkipTokenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Token_SelectTokenServlet</servlet-name>
        <url-pattern>/Token_SelectTokenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prescription_LoadAddingItemsServlet</servlet-name>
        <url-pattern>/Prescription_LoadAddingItemsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prescription_LoadAddingUseCyclesServlet</servlet-name>
        <url-pattern>/Prescription_LoadAddingUseCyclesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prescription_LoadAddingUseMethodsServlet</servlet-name>
        <url-pattern>/Prescription_LoadAddingUseMethodsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prescription_LoadAddingMealTypesServlet</servlet-name>
        <url-pattern>/Prescription_LoadAddingMealTypesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prescription_LoadSelectedItemDetailsServlet</servlet-name>
        <url-pattern>/Prescription_LoadSelectedItemDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prescription_RemoveItemServlet</servlet-name>
        <url-pattern>/Prescription_RemoveItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prescription_AddItemServlet</servlet-name>
        <url-pattern>/Prescription_AddItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prescription_CalcMedicineCostServlet</servlet-name>
        <url-pattern>/Prescription_CalcMedicineCostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prescription_CalcReceivableAmountServlet</servlet-name>
        <url-pattern>/Prescription_CalcReceivableAmountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prescription_SaveServlet</servlet-name>
        <url-pattern>/Prescription_SaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueToken_getNextIssuingTokenNoServlet</servlet-name>
        <url-pattern>/IssueToken_getNextIssuingTokenNoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueToken_LoadPatientsListServlet</servlet-name>
        <url-pattern>/IssueToken_LoadPatientsListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueToken_LoadSelectedPatientDetailsServlet</servlet-name>
        <url-pattern>/IssueToken_LoadSelectedPatientDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueToken_CancelTokenServlet</servlet-name>
        <url-pattern>/IssueToken_CancelTokenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueToken_IssueNSaveTokenServlet</servlet-name>
        <url-pattern>/IssueToken_IssueNSaveTokenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patient_RegisterServlet</servlet-name>
        <url-pattern>/Patient_RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prescription_LoadAddingMedicineTypesServlet</servlet-name>
        <url-pattern>/Prescription_LoadAddingMedicineTypesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patient_UpdateServlet</servlet-name>
        <url-pattern>/Patient_UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Issuemedicine_LoadPrescriptionListServlet</servlet-name>
        <url-pattern>/Issuemedicine_LoadPrescriptionListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueMedicine_CompleatePrescriptionServlet</servlet-name>
        <url-pattern>/IssueMedicine_CompleatePrescriptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrescriptionCorrections_SaveChangesServlet</servlet-name>
        <url-pattern>/PrescriptionCorrections_SaveChangesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrescriptionCorrections_LoadItemsToDHServlet</servlet-name>
        <url-pattern>/PrescriptionCorrections_LoadItemsToDHServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrescriptionCorrections_loadEditingItemServlet</servlet-name>
        <url-pattern>/PrescriptionCorrections_loadEditingItemServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/errorPage_404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errorPage_500.jsp</location>
    </error-page>
</web-app>
